body {
<<<<<<< HEAD
    background-color: #3C3530;
}

.your {
    color: #C5C6B6;
}

.lotto-number {
    color: #F16B6F;
}

.you-have {
    color: #AACD6E;
}
=======
    background-color: antiquewhite;
}
>>>>>>> origin/master
